<input type= "checkbox">
</h2>
    <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
    
    <a href="/todo/destroy/<%=@todo.id%>" class="button delete-todo-button">delete</a>
    <a href="/todo/index.html">Go back.</a>
   <h3>Todo #<%= params[:id] %></h3>

<%=@todo.description %>
<%=@todo.pomodoro_estimate %>
